<article>
  <h2>App is running!</h2>

  <p class="lead">Your newly generated Angular project is up and running</p>

  <h3>Demo</h3>

  <p>
    <strong>Angular Starter</strong> comes with a demo covering the basics to
    get you started with development.
  </p>

  <ul>
    <li>Browse to <a routerLink="/demo">/demo</a> to see it running</li>
    <li>Read its implementation at <code>src/app/views/demo/</code></li>
  </ul>

  <p>
    For more information on how to develop new features, read the
    <a
      href="https://gitlab.com/d4i-frontend-team/knowledge-base/-/blob/master/docs/angular/starter/webapp/workflow.md"
      target="_blank"
      >workflow guide</a
    >.
  </p>

  <h3>Cleanup</h3>

  <p>
    It is recommended to cleanup all pre-generated demo contents by following
    the
    <a
      href="https://gitlab.com/d4i-frontend-team/knowledge-base/-/blob/master/docs/angular/starter/project/cleanup.md"
      target="_blank"
      >cleanup instructions</a
    >
    before project development starts.
  </p>

  <h3>Documentation</h3>

  <p>
    The documentation is available online at the
    <a
      href="https://gitlab.com/d4i-frontend-team/knowledge-base/-/blob/master/README.md"
      target="_blank"
      >Knowledge Base</a
    >
    under the
    <a
      href="https://gitlab.com/d4i-frontend-team/knowledge-base/-/blob/master/docs/angular/starter/README.md"
      target="_blank"
      ><code>angular/starter/</code></a
    >
    section.
  </p>
  <p>
    It is recommended to clone the Knowledge Base repository into your local
    environment for offline reference and to be able to edit its contents with
    your favorite editor.
  </p>

  <pre><code>git clone https://gitlab.com/d4i-frontend-team/knowledge-base</code></pre>
</article>
