.navbar {
  box-sizing: border-box;
  padding: 0 32px;
  background-color: #1976d2;
  color: #fff;

  .nav-content {
    display: flex;
    align-items: center;
    height: 64px;

    .navbar-link {
      color: inherit;
      text-decoration: none;
      margin-left: 1em;
      font-size: 1.3em;
    }
  }
}
