<nav class="navbar">
  <div class="nav-content">
    <img
      src="https://angular.io/assets/images/logos/angular/shield-large.svg"
      width="40px"
    />
    <a class="navbar-link" href="#"> Angular Starter</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
