<article>
  <h2>Demo</h2>

  <h3>JavaScript Books</h3>

  <p>
    <button (click)="isCollapsed = !isCollapsed">
      <span *ngIf="isCollapsed">Expand</span>
      <span *ngIf="!isCollapsed">Collapse</span>
    </button>
  </p>

  <ul ngClass="{{ isCollapsed ? 'hide' : 'show' }}">
    <li *ngFor="let item of data">{{ item.title }} - {{ item.author }}</li>
  </ul>
</article>
